* {
  box-sizing: border-box;
}

div {
  border-radius: 2%;
}

#canvas {
  background: #333;
  margin: 2.5px 35px 35px 70px;
  border-radius: 0.2%;
  border: 1px solid #eee;
}

.white {
  height: 15em;
  width: 3.4em;
  border: 1px solid black;
  background: #ddd;
  float: left;
  margin-right: -20px;
  box-shadow: -2px -2px 0px #fff;
}

.white.more {
  padding-right: 80px;
}

.black {
  height: 8.3em;
  width: 1.3em;
  border: 1px solid black;
  float: left;
  background: black;
  position: relative;
  left: 10px;
  box-shadow: 2px 2px 5px #111;
}

.on {
  background: #bbb;
}
